.search-container{
    position: relative;
}
.search-container input{
    height: 5vh;
    margin:10px;
    border-radius: 5px;
}

.search-container .search-btn{
    height: 5vh;
    width:15%;
    margin:10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(75, 75, 249);
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}
.search-container .search-btn:hover{
    background-color:blue;
}
.delete-multiple-btn{
    right:0;
    bottom: -10px;;
    position: absolute;
    height: 5vh;
    width:15%;
    margin:10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(255, 66, 66);
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}
.delete-multiple-btn:hover{
    background-color: red;
}

.employee-cards-header{
    display: flex;
    gap:2%;
    height: 5vh;
    border: 2px solid black;
    margin:10px;
    justify-content:left;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}
.id-header{
    width:10%;
    padding-left: 1%;
}
.name-header{
    width:25%;
}
.salary-header,
.age-header{
    width:20%;
}

.goback{
    border-radius: 50%;
    color: black;
    border: none;
    font-weight: 900;
    background:none;
}