.employee-card{
    position: relative;
    height:10vh;
    display: flex;
    gap: 2%;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
    margin:10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(250, 235, 215, 0.35);
}
.image-field{
    height:8vh;
    margin-right: 2.5px;
}
@media (width<=600px) {
    .image-field{
        height:5vh;
    }
}
.id-field{
    width:10%;
    padding-left: 1%;
}
.name-field{
    display: flex;
    width:25%;
    align-items: center;
    justify-content: left;
}
.salary-field,
.age-field{
    width:20%;
}
.employee-card button{
    position: absolute;
    z-index: 10;
    right:1%;
    color:rgb(253, 77, 77);
    background: none;
    border: 0;
    cursor: pointer;
}
.employee-card button:hover{
    color: red;
}
.check-btn{ 
    position: absolute;
    z-index: 100;
    background-color: black;
    right:1%;
    margin:2%;
    cursor: pointer;
}