.employee-details{
    background-color: #eaeaea;
    display:flex ;
    flex-direction: column;
    gap:2%;
    margin:10px;
    justify-content: center;
    align-items: center;
}
.employee-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.employee-data label{
    font-weight: 700;
    min-width: 50%;
    margin-left:2px;
    display: flex;
    flex-direction: column;
}
.employee-data label input{
    outline:none;
    border:0;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100%;
    height:5vh;
    border-radius: 5px;
    padding-left: 2%;
}
.employee-data label input:not(:read-only){
    border-bottom:1px solid black;
}
.btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-btn{
    height: 5vh;
    width:15%;
    margin:10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(75, 75, 249);
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}
.delete-btn{
    background: none;
    border: 0;
    cursor: pointer;
    height: 5vh;
    width:15%;
    margin:10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(252,63,63);
    color:whitesmoke;
    font-weight: 600;
    cursor: pointer;
}